@model Tenant_App.Models.DataObjects.Account.LoginDTO


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_NabtebLogin.cshtml";
}

<div class="login-container">
    <div class="login-form">
        <img src="~/NabtebNewAssets/assests/bgd container.png" alt="NABTEB IMAGE" />
    </div>
    <div class="login-form">
        @* <img id="login-logo" src="~/NabtebNewAssets/assests/lamata.png" alt="NABTEB LOGO" /> *@
        <form class="form" method="post" action="/CustomAccount/Login">
            <div class="formtext">
                <h2>Login</h2>
                <p>Login to access your account</p>
                <div class="form-group">
                    <p>Username*</p>
                    <input asp-for="email" type="text" placeholder="Enter Email" />
                    <img class="username-icon"
                         src="~/NabtebNewAssets/assests/Message.png"
                         alt="Username Icon" />
                </div>
                <div class="form-group">
                    <p>Password*</p>
                    <input asp-for="password" type="password" placeholder="Enter password" />
                </div>
                <button type="submit" onclick="myFunction()">Login</button>
                <div id="formfooter">
                    <p id="footerone" class="footer">
                        <a href="@Url.Action("Index", "Home")">Back to Home</a>
                    </p>

                    <p id="footertwo" class="footer">
                        <a href="@Url.Action("ForgetPassword", "CustomAccount")">Forgot password?</a>
                    </p>
                </div>
            </div>
        </form>
        
        @* <p id="footerthree" class="footer">&copy; 2024 vatebra.com <a href="https://vatebra.com/" target="_blank"></a></p> *@
    </div>
</div>

@* <div class="login-logo">
    <a href="index.html"><img src="~/NabtebHrAsset/images/HR_Logo.png" alt="" style="max-width: 100%; max-height: 70px;" /></a>
    <a href="index.html"><img src="~/NabtebHrAsset/images/NABTEB_Logo.png" alt="" style="max-width: 100%; max-height: 150px;" /></a>
  </div>
  <h2 class="form-heading">login</h2>
  <div class="app-cam">
    <form class="form" asp-controller="CustomAccount" asp-action="Login" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"].ToString()" >
        <input asp-for="email" type="text" class="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
        <input asp-for="password" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
		<div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
		
		<ul class="new">
            <li class="new_left"><p><a href="@Url.Action("EnrollWithIppisView", "NominalRoll")">Click to Enroll</a></p></li>
            <li class="new_left"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
            <li class="new_left"><p><a href="@Url.Action("ForgetPassword", "CustomAccount")?ReturnUrl = @Context.Request.Query["ReturnUrl"].ToString()">Forget Password</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2023 by vatebra.com <a href="https://vatebra.com/" target="_blank"></a> </p>
   </div> *@