@model List<Tenant_App.Models.DataObjects.IndividualTenantDtos.IndividualTenantDto>
@using Tenant_App.Utilities.Status;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = ViewBag.ProjectTitle + "::  " + "Approved Tenant";
    Layout = "~/Views/Shared/_Secured.cshtml";
}

<div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb my-breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "" })">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "IndividualTenant", new { area = "" })">Tenants</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Tenants</li>
        </ol>
    </nav>

    <div class="cards__heading">
        <h3>Approved Tenants</h3>
    </div>

    <div class="card card_border p-lg-5 p-3 mb-4">
        <div class="card-body py-3 p-0">
            <div class="row">

                <div class="table-responsive ">
                    <table data-ordering="false" id="example" class="table table-striped" style="width:100%; background-color: white;">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Rent Duration</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="pl-3">
                            @{
                                int rowNo = 0;
                            }

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr class="td">
                                    <td>@(rowNo += 1)</td>
                                    <td>@Model[i].FirstName</td>
                                    <td>@Model[i].LastName</td>
                                    <td>@Model[i].Email</td>
                                    <td>@Model[i].RentDuration</td>
                                    <td modalViewMemo">
                                          <a href="@Url.Action("ViewIndividualTenant", "IndividualTenant", new { id = Model[i].Id})">View</a>
                                    </td>
                                    @* <td class="reports_row1 modalViewMemo">
                                <a onclick="DownloadContestantInfo('@Model[i].Id')">Download</a>
                                </td> *@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src=" https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src=" https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="../js/layout.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

<script>
    function AcceptContestants() {
        var selectedContestants = [];

        document.querySelectorAll('input[type="checkbox"]:checked').forEach(function (checkbox) {
            if (checkbox.value != 0) {
                selectedContestants.push(checkbox.value);
            }
        });

        if (selectedContestants.length > 0) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AcceptTenant", "IndividualTenant")",
                contentType: 'application/json',
                data: JSON.stringify(selectedContestants),
                success: function (content) {
                    window.location.reload();
                }
            });
        }
    }
</script>


<script>
    function DownloadContestantInfo(contestantId) {
        var iframe = document.createElement('iframe');
        iframe.style.display = 'none';
        document.body.appendChild(iframe);

        iframe.src = '/Contestant/DownloadDocuments/' + contestantId;

        iframe.onload = function () {
            document.body.removeChild(iframe);
        };
    }
</script>